---
layout: default
---

<nav class="navbar navbar-expand bg-body-tertiary" id="main-nav">
	<div class="container-fluid">
		<button class="btn btn-secondary d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
			{% include icon.html icon="three-dots-vertical" %}
			Menu
		</button>
		<a class="navbar-brand d-none d-lg-block me-auto" href="{{site.baseurl}}/">
			<img src="{{site.baseurl}}/smolblog.wordmark.ondark.svg" className="d-inline-block align-top" alt="Smolblog"
				style="width: auto; height: 30px">
		</a>
		<button class="btn btn-primary">
			{% include icon.html icon="journal-plus" %}
			New
		</button>
		<ul class="navbar-nav">
			<li class="nav-item dropdown">
				<a title="My account" class="nav-link dropdown-toggle active" href="#" role="button"
					data-bs-toggle="dropdown" aria-expanded="false">
					<img src="https://picsum.photos/50" width="24" height="24" style="margin:0;padding:0">
				</a>
				<ul class="dropdown-menu dropdown-menu-end">
					<li><span class="dropdown-item-text text-muted">Logged in as oddevan</span></li>
					<li><a class="dropdown-item" href="#">Profile</a></li>
					<li><a class="dropdown-item" href="#">Security</a></li>
					<li><a class="dropdown-item" href="#">Connections</a></li>
					<li>
						<hr class="dropdown-divider">
					</li>
					<li><a class="dropdown-item" href="#">Log Out</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
<div class="container-fluid mx-auto" style="min-height: 100%">
	<div class="row">
		<div class="col-lg offcanvas-lg offcanvas-start" tabindex="-1" id="sidebar" aria-labelledby="sidelineLabel">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="sidelineLabel">
					<img src="{{site.baseurl}}/smolblog.wordmark.ondark.svg" className="d-inline-block align-top" alt="Smolblog"
				style="width: auto; height: 30px">
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebar"  aria-label="Close"></button>
			</div>

			<button id="site-select-btn" type="button" class="btn btn-primary btn-block mb-3" data-bs-toggle="modal" data-bs-target="#siteSelectModal">
				{% include icon.html icon="window-stack" %}
				Post Popular Mosts
			</button>

			<nav>
				<ul class="nav nav-pills flex-column" id="sidebar-nav">
					<li class="nav-item">
						<a href="#" class="nav-link">{% include icon.html icon="newspaper" %} Reader</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">{% include icon.html icon="journal-richtext" %} Content</a>
						<ul class="nav nav-pills flex-column">
							<li class="nav-item"><a class="nav-link" href="#">Create new</a></li>
							<li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Published</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Drafts</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Media Library</a></li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">{% include icon.html icon="bell" %} Notifications</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							{% include icon.html icon="gear" %} Settings
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							{% include icon.html icon="person" %} My Account
						</a>
					</li>
				</ul>
			</nav>

		</div>
		<div class="col-lg">
			{{ content }}
		</div>
	</div>
</div>