---
---

<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Smolblog Dashboard</title>
</head>

<body>
	<nav class="navbar navbar-expand-md bg-body-tertiary" id="main-nav">
		<div class="container">
			<span class="navbar-brand">
				<img src="{{site.baseurl}}/smolblog.wordmark.ondark.svg" className="d-inline-block align-top" alt="Smolblog"
					style="width: auto; height: 30px">
			</span>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
				aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav me-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							{% include icon.html icon="window-stack" %}
							<span class="visually-hidden">Current site:</span>
							Post Popular Mosts
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">oddEvan.com</a></li>
							<li><a class="dropdown-item" href="#">madcrasher.com</a></li>
							<li><a class="dropdown-item" href="#">The Nowhereverse</a></li>
							<li><a class="dropdown-item" href="#">PillTimer</a></li>
						</ul>
					</li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a title="Reader" class="nav-link" href="#">
							{% include icon.html icon="newspaper" %}
							<span class="d-md-none"> Reader</span></a>
					</li>
					<li class="nav-item dropdown">
						<a title="Content" class="nav-link active" href="#">{% include icon.html icon="journal-richtext" %}<span class="d-md-none"> Content</span></a>
					</li>
					<li class="nav-item">
						<a title="Notifications" class="nav-link" href="#">
							{% include icon.html icon="bell" %}
							<span class="d-md-none"> Notifications</span>
							<span class="badge rounded-pill text-bg-primary">5</span>
						</a>
					</li>
					<li class="nav-item">
						<a title="Settings" class="nav-link" href="#">{% include icon.html icon="gear" %}<span class="d-md-none"> Settings</span></a>
					</li>
					<li class="nav-item dropdown">
						<a title="My account" class="nav-link dropdown-toggle active" href="#" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							<img src="https://picsum.photos/50" width="24" height="24" style="margin:0;padding:0">
						</a>
						<ul class="dropdown-menu dropdown-menu-end">
							<li><span class="dropdown-item-text text-muted">Logged in as oddevan</span></li>
							<li><a class="dropdown-item" href="#">Profile</a></li>
							<li><a class="dropdown-item" href="#">Security</a></li>
							<li><a class="dropdown-item" href="#">Connections</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" href="#">Log Out</a></li>
						</ul>
					</li>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container mx-auto" style="min-height: 100%">
    {{ content }}
	</div>
	<script type="module" src="{{site.baseurl}}/bootstrap.bundle.js"></script>
</body>

</html>