/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

@layer utilities {
	.secondary-text {
		@apply text-gray-400 dark:text-gray-600;
	}
}