// Remember, no step on snek: there's not enough contrast.

$boop: #191b20;
$snek: #9cd398;
$step: #e9e3db;

$enable-rounded: false;
$enable-shadows: true;
// $enable-gradients: true;

$font-family-sans-serif: poppins-variable, sans-serif;

$navbar-dark-color: rgba($step, .55);
$navbar-dark-hover-color: rgba($step, .75);
$navbar-dark-active-color: $step;
$navbar-dark-disabled-color: rgba($step, .25);
$navbar-dark-toggler-border-color: rgba($step, .1);

$body-bg: $step;

@import "poppins.css";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

.navbar {
	margin-bottom: $grid-gutter-width;
}